@model ElMercadito.Web.Models.ProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MerchantId" />

            @Html.Partial("_Product");
            

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.MerchantId" class="btn btn-success">Back to Merchant</a>
            </div>
        </form>
    </div>
</div>
