@model ElMercadito.Web.Models.ProductViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MerchantId" />
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="BusinessTypeId" class="control-label"></label>
                <select asp-for="BusinessTypeId" asp-items="Model.BusinessTypes" class="form-control"></select>
                <span asp-validation-for="BusinessTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IsAvailable" class="control-label"></label>
                <input asp-for="IsAvailable" class="form-control" />
                <span asp-validation-for="IsAvailable" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <textarea asp-for="Remarks" class="form-control"></textarea>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.MerchantId" class="btn btn-success">Back to Merchant</a>
            </div>
        </form>
    </div>
</div>
